.filter-wrapper {
  width: 100%;
  min-height: 20px;
  position: fixed;
  top: 0;
  padding: 5px;
  z-index: 999;

  &__opened {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  @media screen and (max-width: 1000px) {
    padding: 10px;
  }
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
}

.common-button {
  padding: 4px 8px;
  background: none;
  border: 1px solid #000;

  &:hover {
    cursor: pointer;
  }
}

.input-container {
  width: 22rem;
  position: relative;
  margin: 15px 0;

  input {
    height: 1.2rem;
    width: 15rem;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 4px;

    &:focus, :active {
      outline: none;
    }
  }

  p {
    margin: 0;
  }
}

.input-prompt {
  font-size: 0.9rem;
}

.filters-block {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;

  p {
    margin: 5px 10px 5px 0;
  }
}

.filter-select {
  min-width: 10rem;
  max-width: 12rem;
  margin-right: 10px;

  .rmsc {
    &:focus-within {
      border: none;
      box-shadow: none;
    }
  }
  .dropdown-container {
    border: 1px solid #000;
    &:focus-within {
      border: 1px solid #000;
      box-shadow: none;
    }
  }
  
  .dropdown-heading {
    height: 1.75rem;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.rti--container {
  border: 1px solid #000;
  max-width: 15rem;
  margin-right: 10px;
}

.rti--input {
  width: 100%;
}

.section-name {
  font-weight: bold;
  margin: 0;
}